@tailwind base;
@tailwind components;
@tailwind utilities;

.card{

    border: 2px solid black;
    flex: content;
    gap: 1rem;
}

.grid-container{
    border-style: solid;
    padding:0%;
    border-width: thick;
}